In [2]:
import io
import pandas as pd

In [4]:
df = pd.read_table("lista01.dat", sep="\s+", usecols=['ocupacion', 'educacion','ingreso','mujeres','prestigio','censo','tipo'])
df.head()

             ocupacion  educacion  ingreso  mujeres  prestigio  censo  tipo
0   GOV.ADMINISTRATORS      13.11    12351    11.16       68.8   1113  prof
1     GENERAL.MANAGERS      12.26    25879     4.02       69.1   1130  prof
2          ACCOUNTANTS      12.77     9271    15.70       63.4   1171  prof
3  PURCHASING.OFFICERS      11.42     8865     9.11       56.8   1175  prof
4             CHEMISTS      14.62     8403    11.68       73.5   2111  prof

# Control 1
## Descripción y Análisis Exploratorio de Datos
Jorge Rotter  
Emiliano Zambrano  
Jerónimo Aranda 150344  

### Análisis Exploratorio

### Clasificación de variables

In [7]:
print(df.columns)

Index(['ocupacion', 'educacion', 'ingreso', 'mujeres', 'prestigio', 'censo',
       'tipo'],
      dtype='object')

In [8]:
print(df.dtypes)

ocupacion     object
educacion    float64
ingreso        int64
mujeres      float64
prestigio    float64
censo          int64
tipo          object
dtype: object

### Conclusiones