In [268]:
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.api import stats, graphics
import numpy as np
import warnings
warnings.filterwarnings("ignore")

## Ejercicio 10

In [96]:
dat = [i.strip().split() for i in open("../cableTV.dat").readlines()]
df=pd.DataFrame(dat[1:],columns=dat[0]).set_index('obs')
df[['renta','ninos','adultos','tvtot','valor']] = df[['renta' ,'ninos','adultos','tvtot','valor']].apply(pd.to_numeric)
modelo = ols('renta ~ ninos + adultos + tvtot + valor', df).fit()
summary=modelo.summary()
summary

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  renta   R-squared:                       0.592
Model:                            OLS   Adj. R-squared:                  0.545
Method:                 Least Squares   F-statistic:                     12.68
Date:                Wed, 04 Dec 2019   Prob (F-statistic):           1.77e-06
Time:                        17:51:07   Log-Likelihood:                -153.46
No. Observations:                  40   AIC:                             316.9
Df Residuals:                      35   BIC:                             325.4
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      9.8057     10.326      0.950      0.349     -11.158      30.769
ninos         -4.9143      2.735     -1.797      0.081     -10.466       0.638
adultos        2.6401      2.442      1.081      0.287      -2.318       7.598
tvtot          0.4505      0.114      3.936      0.000       0.218       0.683
valor          0.0001   3.14e-05      4.135      0.000    6.61e-05       0.000
==============================================================================
Omnibus:                        0.009   Durbin-Watson:                   2.056
Prob(Omnibus):                  0.995   Jarque-Bera (JB):                0.138
Skew:                           0.033   Prob(JB):                        0.933
Kurtosis:                       2.719   Cond. No.                     1.33e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

**a)** Cómo se puede ver la significancia de la regresión es **1.77e-06** por lo que se rechaza $H0$

**b)** veamos la tabla de ANOVA:

In [52]:
anova=stats.anova_lm(modelo)
anova

            df       sum_sq      mean_sq          F    PR(>F)
ninos      1.0   793.077032   793.077032   5.513842  0.024646
adultos    1.0  2198.824055  2198.824055  15.287251  0.000405
tvtot      1.0  1841.656946  1841.656946  12.804059  0.001037
valor      1.0  2459.757626  2459.757626  17.101383  0.000211
Residual  35.0  5034.184341   143.833838        NaN       NaN

In [94]:
cmreg=sum(anova['sum_sq'].iloc[:-1])/4
cmres=anova['mean_sq'].loc['Residual']
cmreg/cmres

12.676633925945362

In [164]:
.0001/3.141e-5)

3.183699458771092

In [153]:
float(summary.tables[1].data[5][1].replace(' ',''))/float(summary.tables[1].data[5][2])

3.184713375796179

12.67 es el valor del estadístico $F0$ de la regresión equivalente a la división entre la suma de cuadrados medios de cada regresor  y la suma de cuadrados medios de los residuales.

**c)** Calculemos $ t_{4}^2$:

In [168]:
t=(float(summary.tables[1].data[5][1].replace(' ',''))/float(summary.tables[1].data[5][2]))
t

3.184713375796179

Cómo podemos ver no es el valor correcto de $t_{4}$, probablemente por error de redondeo, al elevarlo al cuadrado tampoco aproxima a $F_{4}$

In [169]:
t**2

10.142399285975094

**d)** La prueba $t_{i}$ muestra la significancia para solamente 2 grupos frente a incluir el regresor i contra los anteriores, mientras que la prueba $F_{i}$ prueba la significancia frente a muchos grupos. Y los valores p son distinto puesto que para el regresor 1 la prueba t muestra la significancia de incluir el regresor 1 o no, y la f la de incluir el regresor 1 frente al resto.

**e)** hagamos todos los ajustes:

In [184]:
modelo1 = ols('renta ~ valor+ninos + adultos + tvtot', df).fit()
modelo2= ols('renta ~ tvtot + valor+ninos + adultos', df).fit()
modelo3 = ols('renta ~ adultos + tvtot + valor + ninos', df).fit()
modelo4 = ols('renta ~ ninos + adultos + tvtot + valor', df).fit()

Escojamos un modelo al azar y verifiquemos su valor $t^2$ para su último regresor:

In [205]:
float(modelo3.summary().tables[1].data[5][3])**2

3.2292089999999996

In [206]:
anova=stats.anova_lm(modelo3)
anova['F'].loc['ninos']

3.229126427343441

Efectivamente son iguales.

## Ejercicio 11

In [214]:
dat =[]
for i in open("l6.dat").readlines():
    linea=i.strip().split()
    dat.append(linea[1:])
df=pd.DataFrame(dat[1:],columns=dat[0]).set_index('id')
df.head()

     y  x1   x2  x3  x4
id
0   70  15  240  80  12
1   60  10  240  80  12
2   89  15  220  80  12
3   81  10  220  80  12
4   69  15  240  50  12

**a)** Leamos los datos y ajustemos el modelo:

In [270]:
df[['y','x1','x2','x3','x4']] = df[['y','x1','x2','x3','x4']].apply(pd.to_numeric)
modelo = ols('y ~ x1b + x2b + x3b + x4b', df).fit()
summary=modelo.summary()
summary

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.964
Model:                            OLS   Adj. R-squared:                  0.951
Method:                 Least Squares   F-statistic:                     73.92
Date:                Wed, 04 Dec 2019   Prob (F-statistic):           7.09e-08
Time:                        19:45:11   Log-Likelihood:                -37.344
No. Observations:                  16   AIC:                             84.69
Df Residuals:                      11   BIC:                             88.55
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     72.2500      0.753     95.970      0.000      70.593      73.907
x1b           -4.0000      0.753     -5.313      0.000      -5.657      -2.343
x2b           12.0000      0.753     15.940      0.000      10.343      13.657
x3b           -0.1250      0.753     -0.166      0.871      -1.782       1.532
x4b           -2.7500      0.753     -3.653      0.004      -4.407      -1.093
==============================================================================
Omnibus:                        1.312   Durbin-Watson:                   1.696
Prob(Omnibus):                  0.519   Jarque-Bera (JB):                0.806
Skew:                           0.033   Prob(JB):                        0.668
Kurtosis:                       1.902   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Efectivamente **x3**, la presión es el único regresor que parece no ser significativo.

**b)** Averigüemos si los regresores son ortogonales:

In [257]:
df['x1b'] = df['x1'].apply(lambda x: -1 if x == 15 else 1 )
df['x2b'] = df['x2'].apply(lambda x: -1 if x == 240 else 1 )
df['x3b'] = df['x3'].apply(lambda x: -1 if x == 80 else 1 )
df['x4b'] = df['x4'].apply(lambda x: -1 if x == 12 else 1 )
X=df[['x1b','x2b','x3b','x4b']].values
X.T.dot(X)

array([[16,  0,  0,  0],
       [ 0, 16,  0,  0],
       [ 0,  0, 16,  0],
       [ 0,  0,  0, 16]])

Como podemos ver son ortogonales entre ellos.

**c)** Veamos la ANOVA:

In [260]:
stats.anova_lm(modelo)

            df   sum_sq      mean_sq           F        PR(>F)
x1b        1.0   256.00   256.000000   28.230576  2.473357e-04
x2b        1.0  2304.00  2304.000000  254.075188  6.001831e-09
x3b        1.0     0.25     0.250000    0.027569  8.711388e-01
x4b        1.0   121.00   121.000000   13.343358  3.801720e-03
Residual  11.0    99.75     9.068182         NaN           NaN

In [269]:
for i in range(2,6):
    print(float(modelo.summary().tables[1].data[i][3])**2)

28.227968999999998
254.0836
0.027556000000000004
13.344409

Cómo podemos corroborar son exactamente los mismos valores, esto es porque como consecuencia del inciso anterior, cuando los regresores son ortogonales entre ellos, no importa el orden en que aparecen en el modelo, las sumas de cuadrados correspondientes en el anova no cambian.