In [2]:
import io
import pandas as pd
df = pd.read_csv('lista01.dat')

In [3]:
df.head()

  ocupacion                educacion ingreso mujeres prestigio censo tipo
0  GOV.ADMINISTRATORS            13.11  12351 11....
1  GENERAL.MANAGERS              12.26  25879  4....
2  ACCOUNTANTS                   12.77   9271 15....
3  PURCHASING.OFFICERS           11.42   8865  9....
4  CHEMISTS                      14.62   8403 11....

# Control 1
## Descripción y Análisis Exploratorio de Datos
Jorge Rotter \
Emiliano Zambrano \
Jerónimo Aranda \

### Análisis Exploratorio

### Clasificación de variables

### Conclusiones